#postcard {
    font-family: "Handlee", cursive;
    font-size: 19px;
    font-weight: bold;
    background-color: white;
    width: 500px;
    height: 350px;
    padding: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#header {
    overflow: hidden;
    height: 85px;
}

#body {
    overflow: hidden;
}

img {
    max-width: 60px;
    float: right;
}

#left {
    float: left;
    width: 50%;
}

#right {
    float: right;
    width: 50%;
}

body {
    background-color: rgb(26, 26, 26);
}

#body input {
    border: none;
    border-bottom: 1px solid gray;
    font-family: "Handlee", cursive;
    font-size: 19px;
    font-weight: bold;
    width: 100%
}

#footer input {
    background-color: lightgray;
    position: fixed;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-bottom: 1px solid black;
    font-family: "Handlee", cursive;
    font-size: 19px;
    font-weight: bold;
}